/* HERO SECTION */
.hero_container {
    background-image: url('/assets/about/mobile/image-hero-whitecup.jpg');
    margin: 0 24px 120px 24px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text_container {
    max-width: 280px;
    color: var(--light-cream);
    text-align: center;
}

.hero_text_container h2 {
    line-height: 40px;
    margin-bottom: 24px;
}

.hero_text_container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 80%;
}

@media only screen and (min-width: 768px) {
    .hero_container {
        background-image: url('/assets/about/tablet/image-hero-whitecup.jpg');
        margin: 0 40px 145px 40px;
        justify-content: flex-start;
        padding-left: 60px;
    }
    .hero_text_container {
        text-align: left;
        max-width: 400px;
    }
    .hero_text_container h2 {
        font-size: 32px;
        line-height: 40px;
    }
}


