/* HERO SECTION */

.hero_container {
    background-image: url('/assets/plan/mobile/image-hero-blackcup.jpg');
    margin: 0 24px 120px 24px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text_container {
    max-width: 280px;
    color: var(--light-cream);
    text-align: center;
}

.hero_text_container h2 {
    line-height: 40px;
    margin-bottom: 24px;
}

.hero_text_container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 80%;
}

@media only screen and (min-width: 768px) {
    .hero_container {
        background-image: url('/assets/plan/tablet/image-hero-blackcup.jpg');
        margin: 0 40px 145px 40px;
        justify-content: flex-start;
        padding-left: 60px;
    }
    .hero_text_container {
        text-align: left;
        max-width: 398px;
    }
    .hero_text_container h2 {
        font-size: 48px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero_container {
        background-image: url('/assets/plan/desktop/image-hero-blackcup.jpg');
        margin: 0 80px 170px 80px;
        padding-left: 85px;
        height: 450px;
    }
    .hero_text_container {
        max-width: 500px;
    }
    .hero_text_container h2 {
        font-size: 72px;
        line-height: 72px;
    }   
    .hero_text_container p {
        font-size: 16px;
        line-height: 26px;
        width: 445px;
    }    
}

/* HOW SECTION */
.how_container {
    margin: 0 0 120px 0;
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
}
.how_list {
    margin: 0;
    padding: 80px 24px;
}

.how_list_item {
    text-align: center;
    margin-bottom: 56px;
}

.how_list_item:last-of-type {
    margin-bottom: 80px;
}

.circle {
    display: none;
}

.how_list_num {
    font-size: 72px;
    line-height: 72px;
    color: var(--pale-orange);
    margin-bottom: 25px;
}

.how_list_title {
    font-size: 28px;
    line-height: 32px;
    color: var(--light-cream);
    margin-bottom: 25px;
}

.how_list_item p {
    font-size: 15px;
    line-height: 25px;
    color: var(--light-cream);
    width: 325px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .how_container {
        margin: 0 0 145px 0;
        height: 640px;
    }
    .circle {
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid var(--dark-cyan);
        border-radius: 50%;
        position: relative;
        top: -60px;
    }
    .how_list {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        top: 70px;
    }
    .how_list_item {
        text-align: left;
        margin-bottom: 44px;
        position: relative;
    } 
    .how_list_item:first-of-type:before {
        content: "";
        position: absolute;
        border-bottom: 2px solid var(--pale-orange);     
        width: calc(100vw - 270px);
        top: -45px;
        left: 15px;
    }
    .how_list_item:last-of-type:before {
        display: none;
    }
    .how_list_item:last-of-type {
        margin-bottom: 44px;
    }
    .how_list_num {
        margin-bottom: 42px;
    }
    .how_list_title {
        width: 220px;
        margin-bottom: 38px;
    }
    .how_list_item p {
        width: auto;
        width: 215px;
    }
}

@media only screen and (min-width: 1280px) {
    .how_container {
        margin: 0 80px 200px 80px;
        /* width: 1045px; */
    }
    .circle {
        top: -80px;
    }
    .how_list {
        width: 1045px;
        padding: 100px 85px;
        gap: 95px;
    }
    .how_list_item {
        margin-bottom: 64px;
    } 
    .how_list_item:last-of-type {
        margin-bottom: 64px;
    }
    .how_list_item:first-of-type:before {
        width: calc(1045px - 285px);
        top: -65px;
    }
    .how_list_num {
        margin-bottom: 40px;
    }
    .how_list_title {
        width: 200px;
        margin-bottom: 41px;
        font-size: 32px;
        line-height: 36px;
    }
    .how_list_item p {
        width: 285px;
        font-size: 16px;
        line-height: 26px;
    }
}

/* OPTION SECTION */
.option_container {
    margin: 0 24px 120px 24px;
}

.section_container {
    margin-bottom: 95px;
}

.section_title_container {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.question_title {
    color: var(--grey);
    font-size: 24px;
    line-height: 28px;
}

.card_container {
    margin-bottom: 16px;
    padding: 24px;
    background-color: var(--lightest-grey);
    border-radius: 8px;
    color: var(--dark-grey-blue);
}

.selected {
    background-color: var(--dark-cyan);
    color: white;    
}

.card_title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
}

.card_description {
    font-size: 16px;
    line-height: 26px;
}
