/* HERO SECTION */
.hero_container {
    background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    margin: 0 24px;
    height: 500px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text_container {
    max-width: 280px;
    color: var(--light-cream);
    text-align: center;
}

.hero_text_container h2 {
    line-height: 40px;
}

.hero_text_container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 80%;
    margin: 25px auto 40px auto;
}

.hero_btn {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .hero_container {
        background-image: url('/assets/home/tablet/image-hero-coffeepress.jpg');
        margin: 0 40px;
        justify-content: flex-start;
        padding-left: 60px;
    }
    .hero_text_container {
        text-align: left;
        max-width: 400px;
    }
    .hero_text_container h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .hero_btn {
        margin: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .hero_container {
        background-image: url('/assets/home/desktop/image-hero-coffeepress.jpg');
        margin: 0 80px;
        padding-left: 85px;
        height: 600px;
    }
    .hero_text_container {
        max-width: 500px;
    }
    .hero_text_container h2 {
        font-size: 72px;
        line-height: 72px;
    }
    .hero_text_container p {
        font-size: 16px;
        line-height: 26px;
        width: 400px;
        margin: 32px 0 56px 0;
    }    
}

/* COLLECTION SECTION */
.collection_container {
    margin: 120px 0;
}

.collection_container h2 {
    line-height: 72px;
    text-align: center;
    color: var(--grey);
    text-transform: lowercase;
    position: relative;
    margin-bottom: 13px;
}

.collection_container h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.bean_list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.bean_list_item:last-of-type {
    padding-bottom: 0;
}

.bean_img {
    display: block;
    width: 200px;
    height: auto;
    padding-bottom: 25px;
    position: relative;
    left: 15px;
}

.bean_text_container {
    width: 282px;
    text-align: center;
    color: var(--dark-grey-blue);
}

.bean_text_container h4 {
    padding-bottom: 16px;
}

.bean_text_container p {
    font-size: 15px;
    line-height: 25px;
}

@media only screen and (min-width: 768px) {
    .collection_container {
        margin: 144px 0;
    }
    .collection_container h2 {
        font-size: 96px;
        margin-bottom: 0;
    }
    .collection_container h2:before {
        top: -5px;
        height: 110%;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.5) 0%, #FEFCF7 100%);
    }
    .bean_list {
        position: relative;
        top: -25px;
    }
    .bean_list_item {
        flex-direction: row;
        padding-bottom: 32px;
    }    
    .bean_img {
        padding-bottom: 0;
        position: relative;
        left: 20px;
        width: 255px;
    }
    .bean_text_container {
        position: relative;
        top: -10px;
        left: 46px;
        text-align: left;
    }
    .bean_text_container h4 {
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1280px) {
    .collection_container {
        margin: 200px 0;
    }
    .collection_container h2 {
        font-size: 150px;
        line-height: auto;
    }
    .collection_container h2:before {
        top: -30px;
        height: 200%;
    }
    .bean_list {
        top: -15px;
        display: flex;
        justify-content: center;
        gap: 0;
    }
    .bean_list_item {
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 0;
    }    
    .bean_img {
        padding-bottom: 0;
        position: relative;
        left: 0;
    }
    .bean_text_container {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        width: 200px;
    }
    .bean_text_container h4 {
        padding-bottom: 24px;
    }
}

/* WHY US SECTION */
.why_container {
    margin: 0 25px 120px 25px;
    position: relative;
}

.why_container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
    z-index: 0;
}

.why_title_container {
    text-align: center;
    padding: 65px 25px;
    position: relative;
    z-index: 1;
    color: var(--light-cream);
}

.why_title_container h3 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 25px;
}

.why_title_container p {
    font-size: 15px;
    line-height: 25px;
    opacity: 80%;
}

.why_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 1;
    padding: 0 25px;
}

.why_list_item {
    text-align: center;
    background-color: var(--dark-cyan);
    width: 100%;
    padding: 70px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.why_icon {
    width: 72px;
    height: auto;
    display: block;
    margin: 0 auto 55px auto;
}

.why_item_text_container {
    color: var(--light-cream);   
}

.why_item_text_container h4 {
    margin-bottom: 25px;
}

.why_item_text_container p {
    font-size: 15px;
    line-height: 25px;
    width: 210px;
}

@media only screen and (min-width: 768px) {
    .why_container {
        margin: 0 40px 145px 40px;
    }
    .why_title_container {
        padding: 55px 75px 70px 75px;
    }
    .why_title_container h3 {
        font-size: 32px;
        line-height: 48px;
    }
    .why_list {
        padding: 0 60px;
    }
    .why_list_item {
        text-align: left;
        padding: 40px 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }
    .why_icon {
        width: 55px;
        height: auto;
        display: block;
        margin: 0 0;
    }
    .why_item_text_container h4 {
        margin-bottom: 16px;
    }
    .why_item_text_container p {
        width: 345px;
    }
}

@media only screen and (min-width: 1280px) {
    .why_container {
        margin: 0 80px 200px 80px;
    }
    .why_container:before {
        height: 80%;
    }
    .why_title_container {
        padding: 100px 370px 85px 370px;
    }
    .why_title_container h3 {
        font-size: 40px;
    }
    .why_list {
        padding: 0 85px;
        flex-direction: row;
        gap: 30px;
    }
    .why_list_item {
        text-align: center;
        padding: 70px 50px 50px 50px;
        flex-direction: column;
        gap: 0;
    }
    .why_icon {
        width: 72px;
        margin-bottom: 55px;
    }
    .why_item_text_container h4 {
        margin-bottom: 25px;
    }
    .why_item_text_container p {
        width: auto;
        font: 16px;
        line-height: 26px;
    }
}

/* HOW SECTION */
.how_container {
    margin: 0 25px 120px 25px;
}

.how_container h3 {
    color: var(--grey);
    font-size: 24px;
    margin-bottom: 80px;
    text-align: center;
}

.how_list {
    margin: 0;
    padding: 0;
}

.how_list_item {
    text-align: center;
    margin-bottom: 56px;
}

.how_list_item:last-of-type {
    margin-bottom: 80px;
}

.how_list_num {
    font-size: 72px;
    line-height: 72px;
    color: var(--pale-orange);
    margin-bottom: 25px;
}

.how_list_title {
    font-size: 28px;
    line-height: 32px;
    color: var(--dark-grey-blue);
    margin-bottom: 25px;
}

.how_list_item p {
    font-size: 15px;
    line-height: 25px;
    color: var(--dark-grey-blue);
    width: 325px;
    margin: 0 auto;
}

.how_btn {
    color: var(--light-cream);
    margin: 0 auto;
}



