/* HERO SECTION */
.hero_container {
    background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    margin: 0 24px;
    height: 500px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text_container {
    max-width: 280px;
    color: var(--light-cream);
    text-align: center;
}

.hero_text_container h2 {
    line-height: 40px;
}

.hero_text_container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 80%;
    margin: 25px auto 40px auto;
}

.hero_btn {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .hero_container {
        background-image: url('/assets/home/tablet/image-hero-coffeepress.jpg');
        margin: 0 40px;
        justify-content: flex-start;
        padding-left: 60px;
    }
    .hero_text_container {
        text-align: left;
        max-width: 400px;
    }
    .hero_text_container h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .hero_btn {
        margin: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .hero_container {
        background-image: url('/assets/home/desktop/image-hero-coffeepress.jpg');
        margin: 0 80px;
        padding-left: 85px;
        height: 600px;
    }
    .hero_text_container {
        max-width: 500px;
    }
    .hero_text_container h2 {
        font-size: 72px;
        line-height: 72px;
    }
    .hero_text_container p {
        font-size: 16px;
        line-height: 26px;
        width: 400px;
        margin: 32px 0 56px 0;
    }    
}